{% extends "base.html.twig" %}

{% block title %}Wild Series{% endblock %}

{% block body %}

    <h1>{{ category.name }} : </h1>

    {% for program in programs %}
    <div>
        <h2><a href="{{ path('program_show', { program : program.id }) }}">{{ program.id }} / {{ program.title }}</a></h2>
        <p>{{ program.summary }}</p>
    </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}