{% extends "base.html.twig" %}

{% block title %}Wild series{% endblock %}

{% block body %}
    <h1>{{ season.description }} de {{ program.title }}</h1>
    <h2>Episode n°{{ episode.number }}</h2>
    <p>Résumé :</p> 
    <p>{{ episode.synopsis }}</p>
    <div>
        <h2>Commentaires :</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.user.email }} => {{ comment.rate }} / 5, {{ comment.comment }}
                    {% if app.user == comment.getUser() or is_granted('ROLE_ADMIN') %}
                        <form action="{{ path('program_comment_delete', { id : comment.id }) }}" method="post">
                            {# the argument of csrf_token() is an arbitrary string used to generate the token #}
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                    
                            <button type="submit">Delete item</button>
                        </form>
                    {% endif %}
                </li>
            {% else %}
                <p>Aucun commentaire pour cet épisode.</p>
            {% endfor %}
        </ul>
    </div>
    {% if app.user %}
        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        <button type="submit">Valider</button>
        {{ form_end(formView) }}
    {% endif %}
    <a href="{{ path('episode_edit', { slug : episode.slug }) }}">Edition de l'épisode</a>
    <a href="{{ path('program_season_show', { slug : program.slug, season : season.id }) }}">
        Retour à la liste des épisodes
    </a>
{% endblock %}
