{% extends "base.html.twig" %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <img src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }}"/>
    <h1>{{ actor.name }} : </h1>

    {% for program in programs %}
        <h2><a href="{{ path('program_show', { slug : program.slug }) }}">{{ program.id }} / {{ program.title }}</a></h2>
    {% else %}
        Aucune série trouvée pour l'acteur {{ actor.name }}.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}